<!-- start custom body snippets -->
<!-- customize with your own _includes/custom-body.html file -->

<div id="_credit"><a href="//techie-joe.github.io/core" title="Go to the Core template">✨ Made with Core</a></div>

<script src="{{ site.github.url }}/assets/core/js/script.js?v={{ site.github.build_revision }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script><script>anchors?.add();</script>

{% include google-analytics.html %}

<!-- end custom body snippets -->