<!-- start custom body snippets -->
<!-- customize with your own _includes/custom-body.html file -->

{% if site.github.private != true and site.github.license %}
<div class="container-lg px-3 my-5 markdown-body">
  <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
    This site is open source. {% github_edit_link "Improve this page" %}.
  </div>
</div>
{%- endif %}

<div id="_credit"><a href="//techie-joe.github.io/core" title="Go to the Core template">✨ Made with Core</a></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script><script>anchors?.add();</script>

<script src="{{ site.github.url }}/assets/core/js/script.js?v={{ site.github.build_revision }}"></script>

{% include google-analytics.html %}

<!-- end custom body snippets -->